<div>
  <div id="map"></div>
</div>
<div class="inner">
  <div class="supatravel">
    <h1>SupaTravel</h1>
  </div>
   <%= render "common/call_to_action" %>
  <div class="map">
  <script> buildGMap(<%=raw @hash.to_json %>); </script>
  </div>
</div>
