<h1><%= @user.email %>'s Photos</h1>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <a href='/users/<%= photo.user.id.to_s %>/photos/<%= photo.id.to_s %>'><%= image_tag photo.photo_image.url(:medium) %></a>
    </li>
  <% end %>
</ul>
